// Gallery
.gallery {
  position: relative;
  padding: 50px 0 100px;

  @include tablet__portrait {
    padding-top: 0;
  }

  &__header {
    position: relative;
    padding: 160px 0 50px;

    .section__header {
      padding-bottom: 0;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 34px;
      background-color: transparent;
      border: 1px solid var(--text-light);
      font-size: 18px;
      font-weight: 500;
      color: var(--text-medium);
      text-transform: uppercase;
      border-radius: 30px;
      transition: var(--transition-md);

      &.active {
        background: var(--common-gradient);
        color: var(--text-white);
        border: none;

        &:hover {
          color: var(--text-white);
        }
      }

      &:hover {
        border-color: var(--primary-neutral);
        color: var(--primary-neutral);
      }
    }
  }

  &__item {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
  }

  &__videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__thumb {
    display: block;
    width: 100%;
    height: 270px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: var(--transition-md);

    iframe {
      position:relative;
      z-index: 3;
    }

    &:hover {
      img {
        transform: scale(1.1);
        filter: grayscale(1);
      }

      button {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition-md);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      overflow: hidden;
      background: var(--bg-white);
      color: var(--accent-color);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      transition: var(--transition-md);
    }
  }
}

.video-modal {
    .ant-modal-content {
      position: relative;
      background-color: transparent; 
      background-clip: padding-box;
      border: none;
      // border-radius: 8px;
      // box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
      pointer-events: auto;
      padding: 8px 10px;
    }
   }